:root {
	--gap: 20px;
	--accent_color: #efca85;
	--dots: #000000;
	--pic: #0e072980;
}

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	color: var(--accent_color);
	z-index: -1;
	background-color: rgb(223 200 191 / 92%);
	background-image: url(assets/wca.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: color-burn;
	user-select: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: clamp(10px, 2vw, 20px);
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: aliceblue;
	transition: .5s all;
}

a:visited {
	color: bisque;
}

a:hover {
	color: #00b5ef;
}

p {
	margin: 1em 0 0;
	font-size: clamp(14px, 2vw, 21px);
}

span.name {
	color: white;
}

.aim {
	fill: #00b5ef;
	stroke: rgb(0, 0, 0);
	stroke-width: 3px;
	stroke-linejoin: round;
	height: 50%;
	cursor: pointer;
	transition: .5s all;
}

.aim:hover {
	stroke: rgb(14, 22, 248);
}

.next a:link,
.next a:visited {
	position: relative;
	color: rgb(150, 150, 150);
	font-size: 32px;
	font-weight: 500;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.next a:hover {
	color: #00b5ef;
}

.google {
	transition: .5s all;
}

.google img {
	margin-top: .5em;
	height: clamp(50px, 20rem, 70px);
	aspect-ratio: 2/1;
}

.google:hover {
	background-image: #000000;
}

.shell {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	margin: auto;
	height: 93vh;
	max-width: 94%;
}

.parent {
	display: grid;
	position: relative;
	align-items: center;
	height: 90vh;
	border-radius: 10px;
	width: clamp(98%, 60rem, 500px);
	gap: var(--gap);
	padding: var(--gap);
	margin: auto;
	background-color: rgba(97, 91, 136, 0.5);
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.parent>div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: repeating-linear-gradient(-45deg,
			transparent 0 20px,
			rgba(186, 184, 115, 0.149) 20px 40px),
		radial-gradient(rgba(1, 4, 32, 0.8),
			rgba(1, 4, 32, 0.8));
}

.div1 {
	grid-area: 1 / 1 / 2 / 4;
	position: relative;
}

.div2 {
	grid-area: 1 / 4 / 2 / 8;
	position: relative;
}

.div3 {
	grid-area: 3 / 1 / 5 / 3;
	position: absolute;
	justify-content: start;
	top: 0;
}

.words_div4,
.words_div7 {
	flex-direction: column;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 25%;
	padding: var(--gap);
	border: 2px solid var(--accent_color);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition: .5s all;
	z-index: 10;
}

.words_div4 {
	grid-area: 2 / 1 / 5 / 3;
	top: 0;
}

.words_div7 {
	grid-area: 2/ 6 / 5 / 8;
	bottom: 0%;
}

.words_div4:hover,
.words_div7:hover {
	height: 100%;
	opacity: 1;
}

.words_div7:hover {
	height: 100%;
}

.div4 {
	grid-area: 2 / 1 / 3 / 3;
	position: absolute;
	top: 0;
}

.div5 {
	grid-area: 2 / 3 / 5 / 6;
	flex-direction: column;
	border-radius: 10px;
	height: 100%;
	font-size: large;
	padding: calc(var(--gap) * 2);
	outline: 2px var(--accent_color) solid;
	outline-offset: calc(var(--gap) * -1);
	overflow-y: auto;
}

.div6 {
	grid-area: 2 / 6 / 4 / 8;
	justify-content: end;
	bottom: 0;
}

.div7 {
	grid-area: 4 / 6 / 5 / 8;
	position: absolute;
	bottom: 0;
}

.div8 {
	grid-area: 5 / 1 / 6 / 5;
	position: relative;
}

.div9 {
	grid-area: 5 / 5 / 6 / 8;
	position: relative;
}

.dots {
	position: relative;
	border-radius: 50%;
	width: calc(var(--gap)/2);
	height: auto;
	aspect-ratio: 1;
	background: var(--dots);
	border: 2px solid var(--dots);
}

.band {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	border-top: 2px solid var(--accent_color);
	border-bottom: 2px solid var(--accent_color);
	width: var(--gap);
	height: 100%;
}

.div1,
.div8 {
	border: 1px solid var(--outline);
	outline: 2px dashed var(--accent_color);
	outline-offset: calc(var(--gap) * -.5);
	border-right: var(--gap) var(--accent_color) solid;
	border-radius: 10px 0 0 10px;
}

.div2,
.div9 {
	border: 1px solid var(--outline);
	outline: 2px dashed var(--accent_color);
	outline-offset: calc(var(--gap) * -.5);
	border-left: var(--gap) var(--accent_color) solid;
	border-radius: 0 10px 10px 0;
}

/* big img div */

.div3,
.div6 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: none !important;
}

.div3 img,
.div6 img {
	position: absolute;
	aspect-ratio: 1;
	height: clamp(100px, 9vw, 150px);
	margin: auto;
	inset: 0;
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 50%;
	background-repeat: no-repeat;
	object-fit: cover;
}

.imgWrapper {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
	height: clamp(100px, 25vw, 210px);
	box-shadow: inset var(--pic) 2px 2px 2px, inset var(--pic) -2px -2px 2px, var(--pic) 3px -3px 2px;
	background: rgb(234, 234, 234);
	border: var(--gap) solid var(--accent_color);
	padding: calc(var(--gap) * 2);
	margin-top: calc(var(--gap) * .75);
	border-radius: 20px 0 20px 0;
}

.imgWrapper::before,
.imgWrapper::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}

.imgWrapper::before {
	right: 0;
	top: 0;
	border-width: 0 20px 20px 0;
	border-color: transparent var(--accent_color) transparent transparent;
}

.imgWrapper::after {
	left: 0;
	bottom: 0;
	border-width: 20px 0 0 20px;
	border-color: transparent transparent transparent var(--accent_color);
}

/* name */

.div4,
.div7 {
	position: absolute;
	border-radius: 10px;
	height: calc(33% - var(--gap));
	width: 100%;
	padding: calc(var(--gap) * 2);
	outline: 2px var(--accent_color) solid;
	outline-offset: calc(var(--gap) * -1);
	z-index: 10;
}

.div1,
.div2,
.div8,
.div9 {
	height: clamp(50px, 20rem, 70px);
}

@media (max-width: 920px) {
	:root {
		--gap: 10px;
	}

	.parent {
		height: 80vh;
	}
}

footer {
	display: flex;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	border-top: 1px bisque solid;
	background-color: black;
	height: 7vh;
	width: 100%;
	bottom: 0;
}